.card:hover {
    transform: translateZ(40px);
    scale: 1.1;
    z-index: 2;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6); 
    transition: 0.5s;
}
#crd-text{
    background-color: transparent ;
}
.card{
    border:none ;
    z-index:1 ;
    min-width: 15rem; 
    height: 25rem ;
}
