.navbar {
    /* background: grey; */
    background: rgba(255, 255, 255, 0)!important;
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)!important;
    backdrop-filter: blur(10px)!important;
    -webkit-backdrop-filter: blur(8.9px)!important;
  }